body {
  font-family: sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  background-color: rgb(198, 103, 31);
  padding: 10px;
}
.container-search {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  gap: 20px;
}
.btn-search {
  height: 50px;
  background-color: rgb(198, 103, 31);
  font-size: 20px;
  cursor: pointer;
  width: 80px;
  border: none;
}

.input-box {
  height: 50px;
  width: 100%;
  font-size: 20px;
  padding-left: 10px;
}
.result {
  display: none;
  background-color: rgb(239, 239, 239);
  width: 80%;
  margin: auto;
}
.result > h1 {
  padding: 10px;
  display: inline;
}

.preposition {
  display: inline;
}

.result > p {
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
}

.block {
  display: block;
}
